#cowsay {
    font-family: 'Courier New', Courier, monospace;
    padding-left: 15px;
    background: rgb(0,	68,	11);
    color: white;
}
#main {
    padding-top: 5px;
}
body {
    background: black;
}
.flrow {
    display: flex;
}
.flitem {
    padding: 0 5px;
}
.sametwbutton {
    height: 28px;
    line-height: 25px;
}
.fade {
    opacity: 0;
}
.fade-enter-done {
    transition: all 0.5s;
    opacity: 1;
}
.fade-exit {
    transition: all 0.3s;
    opacity: 0;
}
